<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header movile Six Apples</title>
    <!-- Styles sheets -->
    <link rel="stylesheet" href="css/carrito.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <!-- Fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="body-carrito">
    <header></header>
    <main class="main-carrito">
        <div class="carrito-container">
            <section class="data-top">
                <a href="#">Carrito</a>
                <a href="#">Favoritos</a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </section>
            <hr>
            <article class="producto-carrito">
                <div class="flex">
                     <img width="20%" src="/images/Lechuga.png" alt="imagenLechuga">
                     <div class="data-product">
                         <p>Lechuga</p>
                         <p>ID: 112</p>
                         <strong>$520</strong>
                </div>
                <div class="form-carrito">
                    <form action="" method="">
                        <label for="cantidad"></label>
                        <input type="number" class="cantidad" min="1" max="500" id="cantidad" value="cantidad">
                        <label for="unidad-peso"></label>
                            <select name="unidad-peso" id="unidad-peso" class="unidad-peso">
                                <option value="kg" selected>Kg</option> 
                                <option value="g">Gr</option>
                                <option value="u">u</option>
                            </select>
                         </form>
                </div>
            </article>
            <div class="button">
                <button type="reset">Eliminar</button>
                <button type="submit">Agregar a favoritos</button>
            </div>
            <hr>
            <h4 class="total">Total de envío: $794,00</h4>
        </div>
    </main>

    <footer></footer>
</body>