<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header movile Six Apples</title>
    <!-- Styles sheets -->
    <link rel="stylesheet" href="css/catalogo.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <!-- Fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="catalogo">
    <header class="header-home">
        <div>
            <a href="#"><img class="logo" src="images/logoFinal.png" alt="logo"></a>
        </div>
        <div class="busqueda"> <!-- barra de busqueda que desaparece en movile y tablet-->
            <input type="text" placeholder=" Buscar..." class="barra">
        </div>
        <div class="iconos">
            <i id="lupa" class="fas fa-search"></i> 
            <i class="fa-regular fa-circle-user"></i>
            <nav class="burger-menu"> 
                    <i class="fas fa-bars"></i>
            </nav>
        </div>
        <nav class="menu-desktop"> 
                <ul class="menu-top"> <!-- Agrege clases -->
                    <li><a href="">Ingresá</a></li>
                    <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
                <ul class="menu-buttom">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Catálogo</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">¿Quiénes somos?</a></li>
                </ul>
        </nav> 
    </header>
    <main class="main-catalogo">
        <h2 class="titulo-catalogo">Catálogo Frutas</h2>
        <hr class="hr-separacion">
        
        <section class="frutas-section">
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/uva.png" alt="imagen uva"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Uva</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$330</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Kiwi.png" alt="imagen kiwi"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Kiwi</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$749</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Manzana.png" alt="imagen manzana"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Manzana Roja</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$240</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Naranja.png" alt="imagen naranja"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Naranja</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$210</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Banana.png" alt="imagen banana"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Banana</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$280</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Durazno.png" alt="imagen durazno"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Durazno</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$290</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Ananá.png" alt="imagen anana"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Ananá</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Mango.png" alt="imagen mango"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Mango</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$460</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Frutilla.png" alt="imagen frutilla"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Frutilla</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$480</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Sandia.png" alt="imagen sandia"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Sandía</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Sandia.png" alt="imagen sandia"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Sandía</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
        </section>
        
        <h2 class="titulo-catalogo">Catálogo Verduras</h2>
        <hr class="hr-separacion">

        <section class="frutas-section">
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Lechuga.png" alt="imagen lechuga"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Lechuga</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$520</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Tomate.png" alt="imagen tomate"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Tomate</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Repollo.png" alt="imagen repollo"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Repollo</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$520</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Acelga.png" alt="imagen acelga"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Acelga</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$200</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
        </section>
       



    </main>
    <footer class="footer-homepage">
        <div id="logo-footer">
            <img src="images/logoFooter.png" alt="logoFooter">
        </div>
        <div>
            <nav class="data-footer">
                <a class="wp" href="https://api.whatsapp.com/send?phone=15151515" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="telefono" href="tel: 15151515" target="_blank"><i class="fa-solid fa-phone"></i></a>
                <a class="twitter-timeline" href="https://twitter.com/pensandoenweb" data-widget-id="302069386464870402"><i class="fa-brands fa-twitter"></i></a> <!-- me lleva a un twitter aleatorio -->
                <p class="copyright">Copyright © 1999-2022 Six Apples S.R.L. <br> Av. Monroe 840, Piso 2, CP 1428, Belgrano CABA</p>
            </nav>
        </div>
        <hr>
        <section class="section-footer">
            <nav class="navegacion-footer">
                <ul class="list-footer">
                    <li>Política de Privacidad</li>
                    <li>Protección de datos personales</li>
                </ul>
                <ul class="list-footer">
                    <li>Defensa del consumidor</li>
                    <li>Contacto</li>
                </ul>
            </nav>         
            <div class="image-bottom">
                <img id="imagen" src="images/SAfooter.png" alt="SAfooter">   
                <p class="ultimo-texto">© Six Apples 2022</p>
            </div>
        </section>
    </footer>
</body>
</html>