<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header movile Six Apples</title>
    <!-- Styles sheets -->
    <link rel="stylesheet" href="css/catalogo.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <!-- Fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="catalogo">
    <header></header>
    <main class="main-catalogo">
        <h2 class="titulo-catalogo">Catálogo Frutas</h2>
        <hr class="hr-separacion">
        
        <section class="frutas-section">
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
        </section>
       



    </main>
    <footer></footer>
</body>
</html>