<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas</title>
    <!-- Styles sheets -->
    <link rel="stylesheet" href="css/ofertas.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <!-- Fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="body-ofertas">
    <main class="main-ofertas">
        <h3 class="titulo-ofertas">Ofertas Bolsones</h3>
        <article class="producto-oferta">
            <div class="contenedor-oferta">
                <a href="#"><img width="100%" src="images/oferta1.jpeg" alt="ofertaNaranjas"></a>  <!-- si toco la foto veria el detalle de producto -->
            </div>
            <article class="detalles">
                <p>Bolson familiar (8kg)</p>
                <p class="precio">$1.600</p> 
                <p>Precio unitario: $210</p>
            </article>
            <button class="boton-ofertas">
                <h4>Agregar al carrito</h4>
            </button>
            </div>
        </article>
    </main>
    
</body>
</html>