<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header movile Six Apples</title>
    <!-- Styles sheets -->
    <link rel="stylesheet" href="css/quienesSomos.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <!-- Fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="quienesSomos">
    <header class="header-home">
        <div>
            <a href="#"><img class="logo" src="images/logoFinal.png" alt="logo"></a>
        </div>
        <div class="busqueda"> <!-- barra de busqueda que desaparece en movile y tablet-->
            <input type="text" placeholder=" Buscar..." class="barra">
        </div>
        <div class="iconos">
            <i id="lupa" class="fas fa-search"></i> 
            <i class="fa-regular fa-circle-user"></i>
            <nav class="burger-menu"> 
                    <i class="fas fa-bars"></i>
            </nav>
        </div>
        <nav class="menu-desktop"> 
                <ul class="menu-top"> <!-- Agrege clases -->
                    <li><a href="">Ingresá</a></li>
                    <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
                <ul class="menu-buttom">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Catálogo</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">¿Quiénes somos?</a></li>
                </ul>
        </nav> 
    </header>
    <main class="somos-main">
        <div class="somos-container">
            <section class="section-data">
                <h2 class="titulo-info">¿Quienes somos?</h2>
                <p class="desarrollo-info">Somos una familia que trabajamos en el rubro de las frutas & verduras hace más de 20 años dedicándonos a la venta de productos orgánicos y agroecológicos.
                    Hoy queremos llegar directamente a cada hogar con alimentos naturales, frescos, libre de químicos y de primera calidad.
                    Six Apples nos mantiene en el camino del crecimiento, con esfuerzo, trabajo y mucho amor propio por lo que hacemos.
                    Muchas gracias por elegirnos.</p>
                <p>Familia Six Apples</p>
            </section>
        </div>
    </main>
    <footer class="footer-homepage">
        <div id="logo-footer">
            <img src="images/logoFooter.png" alt="logoFooter">
        </div>
        <div>
            <nav class="data-footer">
                <a class="wp" href="https://api.whatsapp.com/send?phone=15151515" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="telefono" href="tel: 15151515" target="_blank"><i class="fa-solid fa-phone"></i></a>
                <a class="twitter-timeline" href="https://twitter.com/pensandoenweb" data-widget-id="302069386464870402"><i class="fa-brands fa-twitter"></i></a> <!-- me lleva a un twitter aleatorio -->
                <p class="copyright">Copyright © 1999-2022 Six Apples S.R.L. <br> Av. Monroe 840, Piso 2, CP 1428, Belgrano CABA</p>
            </nav>
        </div>
        <hr>
        <section class="section-footer">
            <nav class="navegacion-footer">
                <ul class="list-footer">
                    <li>Política de Privacidad</li>
                    <li>Protección de datos personales</li>
                </ul>
                <ul class="list-footer">
                    <li>Defensa del consumidor</li>
                    <li>Contacto</li>
                </ul>
            </nav>         
            <div class="image-bottom">
                <img id="imagen" src="images/SAfooter.png" alt="SAfooter">   
                <p class="ultimo-texto">© Six Apples 2022</p>
            </div>
        </section>
    </footer>
</body>
</html>