<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body class="quienesSomos">
    <%- include('partials/header')  %> 
    <main class="somos-main">
        <div class="somos-container">
            <section class="section-data">
                <h2 class="titulo-info">¿Quienes somos?</h2>
                <p class="desarrollo-info">Somos una familia que trabajamos en el rubro de las frutas & verduras hace más de 20 años dedicándonos a la venta de productos orgánicos y agroecológicos.
                    Hoy queremos llegar directamente a cada hogar con alimentos naturales, frescos, libre de químicos y de primera calidad.
                    Six Apples nos mantiene en el camino del crecimiento, con esfuerzo, trabajo y mucho amor propio por lo que hacemos.
                    Muchas gracias por elegirnos.</p>
                <p>Familia Six Apples</p>
            </section>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts')  %> 
    
</body>
</html>